main {
    padding: 1.5rem;
    .header-section {
        display: flex;
        justify-content: space-between;
        text-transform: capitalize;
    }
    .title {
      height: 1.5rem;
      border: 1px solid #e0e0e0;
      border-radius: 6px;
      padding: 0.5rem;
    }
    .comment_input {
        border: 1px solid #e0e0e0;
        padding: 1rem;
        width: 90%;
        height: 12vh;
        display: block;
      }
      .formValue {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin: 1.5rem 0;
      }
      .count {
        text-align: end;
        display: block;
        padding-right: 0.5rem;
      }
      .header {
        color:  #181F33;
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 140% */
        letter-spacing: 0.25px;
        display: flex;
        flex-direction: column;
    }
      .footer {
        display: flex;
        justify-content: end;
        gap: 1rem;
        .btn {
            width: 8.625rem;
            height: 2.75rem;
            padding: 0.625rem, 2rem, 0.625rem, 2rem;
            border-radius: 8px;
            gap: 8px;
            background-color: #0937B2;
            font-family: Lato;
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.5rem;
            letter-spacing: 0.0313rem;
            text-align: center;
            color: #FFFFFF;
            text-transform: capitalize;
        }
        .btn-cancel {
            background-color: #FFFFFF;
            color: #181F33;
            border: none;
        }
    }
}